*.txt
.DS_Store
.DS_store
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
wandb/
.venv/
venv/

build*
dist/
*.egg*
*.gz
*.whl

curr_checkpoint.pth
best_checkpoint.pth
learn/
architecture.md

*.sh
/main.py
*.cpp
